.addFolderModal {
  display: none;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
}

.background {
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.7;
  position: absolute;
  top: 0;
}

.addFolderModal .components {
  width: 300px;
  height: 200px;
  background-color: white;
  position: absolute;
  border-radius: 20px;
  padding: 30px;
  animation: modal-show 0.3s;
}

.addFolderModal label {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.buttonContainer {
  display: flex;
  flex-direction: "row";
  justify-content: flex-end;
}

.buttonContainer button {
  width: auto;
  background-color: "white";
}

.buttonContainer button:first-child {
  margin-right: 10px;
}

.addFolderModal.open {
  display: flex;
  animation: modal-bg-show 0.3s;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -20px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
