.bookmarkListItem {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  margin: 10px;
  padding: 20px;
  width: 40%;
  background-color: rgb(241, 245, 248);
  position: relative;
}

.bookmarkListItem:hover {
  background-color: rgb(233, 238, 245);
}

.bookmarkListItem > a > div {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.bookmarkListItem > a {
  text-decoration: none;
}

.bookmarkListItem .name {
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: 10px;
  color: black;
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 6px;
}

.bookmarkListItem .comment {
  color: rgb(105, 105, 105);
  word-break: break-all;
  width: 100%;
}

.bookmarkListItem .url {
  color: rgb(167, 175, 182);
  word-break: break-all;
}
