.bookmarkListItem {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin: 10px 20px;
  margin-left: 0;
  padding: 12px 16px;
  width: 30%;
  /* background-color: rgb(248, 249, 250); */
  border: 1px solid rgb(236, 235, 235);
  position: relative;
  box-sizing: border-box;
}

.bookmarkListItem:hover {
  background-color: rgb(249, 249, 250);
}

.bookmarkListItem > div > svg {
  cursor: pointer;
}

.bookmarkListItem > a > div {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.bookmarkListItem > a > div:nth-child(2) {
  margin-bottom: 20px;
}

.bookmarkListItem > a {
  text-decoration: none;
}

.bookmarkListItem .name {
  font-weight: 600;
  color: black;
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.bookmarkListItem .comment {
  color: rgb(88, 88, 88);
  display: block;
  width: 100%;
  font-size: 0.9rem;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bookmarkListItem .url {
  color: rgb(167, 175, 182);
  word-break: break-all;
  font-size: 0.9rem;
}

.bookmarkListItem > div:last-child {
  flex-wrap: wrap;
}

.bookmarkListItem > div > .tag {
  /* border: 1px solid black; */
  padding: 7px 12px;
  border-radius: 20px;
  font-size: 0.74rem;
  background-color: rgb(241, 245, 250);
  color: rgb(92, 102, 110);
  font-weight: 500;
  margin-bottom: 8px;
}
