.folderList {
  width: 25%;
}

.folderList .addFolder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-weight: 600;
  color: rgb(68, 68, 68);
}

.folderList > div > button {
  width: 60px;
}
