.route {
  padding: 10px 0 16px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(88, 88, 88);
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(83, 61, 61);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.route > div:last-child > button > svg {
  color: darkgray;
  width: 18px;
  height: 18px;
}

.route .folderTags {
  display: flex;
  margin-left: 16px;
  flex-wrap: wrap;
}

.route .folderTags > .tag {
  padding: 4px 10px;
  border: 1px solid rgb(156, 170, 189);
  color: rgb(140, 156, 177);
  font-size: 0.8rem;
  margin-right: 6px;
  border-radius: 15px;
}

.route > div {
  display: flex;
  align-items: center;
}

.route > div > button:nth-child(1) {
  margin-right: 12px;
}

.route > div > button {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .route {
    margin-bottom: 10px;
    padding: 0 0 5px 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .route > div:first-child {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  .route > div:last-child {
    align-self: flex-end;
    position: absolute;
  }

  .route > div:last-child > button > svg {
    width: 16px;
    height: 16px;
  }

  .route > div > .folderTags {
    margin: 0;
    margin-top: 10px;
  }

  .route > div > .folderTags > .tag {
    margin-bottom: 6px;
  }
}
