ol,
ul,
li {
  list-style: none;
}
.boxalign {
  width: 1200px;
}
.main {
  background: white;
  height: 100%;
  /* width: 1200px; */
  margin: auto;
  /* border-radius: 15px; */
  position: relative;
  /* border: 1px solid black; */
}

.main header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  box-shadow: 0px 5px 30px 0px rgb(241, 241, 241);
}

.main header h2 {
  font-weight: bolder;
  font-family: "Abel", sans-serif;
}

.main header .search {
  display: flex;
  align-items: center;
}
.main header .nav {
  font-family: "Abel", sans-serif;
}
.main header .nav > .logout {
  cursor: pointer;
}
.nav a:link {
  padding: 5px 20px;
  border: 1px solid #000;
  border-radius: 40px;
  text-decoration: none;
  color: #000;
}
.nav a:link:nth-child(1) {
  margin-right: 20px;
}

.nav a:link:hover {
  background: #eee;
  transition: 0.3s;
}

.main input {
  width: 40vw;
  margin: 0 0 0 40px;
  padding: 0.8rem 1rem;
  padding-left: 50px;
}

.main form {
  position: relative;
}

.main .searchButton {
  width: 10vw;
  padding: 0;
  margin: 0;
  width: auto;
  left: 55px;
  top: 14px;
  position: absolute;
}

.main button {
  background-color: white;
  padding: 0;
  margin: 0;
}

.search > button > svg {
  width: 37px;
  height: 37px;
  color: rgb(197, 202, 206);
  margin-left: 10px;
}

.search > button > svg:hover {
  cursor: pointer;
  color: rgb(154, 164, 172);
}

.main main {
  display: flex;
  padding: 2rem 4rem;
}

.main .bookmark {
  padding: 10px 30px;
  width: 100%;
}
