/* .nav{
    width:100vw;
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    font-weight: 600;  
    text-transform: uppercase;
    border-bottom-right-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
}

.nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;      
}
.nav a:visited{
    color : white;
}
.nav a:hover{
    color:aquamarine;
} */

.nav {
z-index: 1;
position: fixed;
top: 50px;
left: 10px;
display: flex;
flex-direction: column;
background-color: rgb(233, 225, 225);
padding: 10px 20px;
box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
border-radius: 5px;
}

@media screen and (max-width: 1090px) {
.nav {
    left: initial;
    top: initial;
    bottom: 0px;
    width: 100%;
}
}

.nav a {
text-decoration: none;
color:black;
text-transform: uppercase;
font-size: 12px;
text-align: center;
font-weight: 600;
}

.nav a:not(:last-child) {
margin-bottom: 20px;
}

.nav a:hover{
    color:aquamarine;
}